  #shopify-section-{{ section.id }} .card-media {
    --padding-y-mobile: 1.2rem;
  }
  
  #shopify-section-{{ section.id }} .section__content {
    position: relative;
    margin-top: -120px;
    z-index: 10;
  }
  
  #shopify-section-{{ section.id }} .custom__block--image_card {
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #shopify-section-{{ section.id }} .custom__block--image_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .section__content {
      margin-top: -60px !important;
    }
    
    #shopify-section-{{ section.id }} .swipe-mobile--2-cols {
      --column-width-mobile: 33vw;
    }
    
    #shopify-section-{{ section.id }} .card-media__heading {
      font-size: {{ section.settings.title_font_size_mobile | default: section.settings.title_font_size | divided_by: 1.2 | round }}px !important;
    }
  }